@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";
@import "../bower_components/open-sans-fontface/open-sans";
@import "../bower_components/font-awesome/scss/font-awesome";
@import "./nav";
@import "search";




.logo {
  background: url("../images/logo.png") no-repeat;
  width: 176px;
  height: 38px;
}

.container {
  max-width: 100rem;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-weight: normal;
  font-style: normal;
}

.overlay {
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  filter: alpha(opacity=90);
  z-index: -1;
}

.overlay-dark {
  background-color: black;
}
