
header {
  padding: 1.5rem 0;
}

a,
a:link,
a:visited {
  outline: none !important;
  text-decoration: none;
  color: #333333;
}

button.btn,
a.btn {
  border: 0;
  border-radius: 0;
  background-color: red;
  color: #ffffff;
  &:hover,
  &:focus,
  &:active {
    outline: none;
    background-color: #c7343a;
    color: #ffffff;
  };
  &:active {
    background-color: #a32b30;
  }
}


ul.nav.navbar-nav {
  > li {
    &:hover {
      background-color: #ffffff;
    }
    > a:hover,
      a:focus {
      color: red;
      background-color: #ffffff;
    }
  }
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #ffffff;
  color: red;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: red;
}

.dropdown-menu > li > a:hover {
  color: #ffffff;
}