.assortment {
  height: 500px;
  background-color: #e0f2be;
  text-align: center;
  .search-row {
    position: relative;
    h1 {
      font-family: "Open Sans", "Helvetica", "Helvetica Neue Light", "sans-serif";
      font-weight: 300;
      font-style: normal;
      font-size: 7rem;
      color: #ffffff;
    }
    .search {
      max-width: 75rem;
      margin: 0 auto;
      padding: 2rem;
      .domain-search {
        height: 5.2rem;
        input[type="search"] {
          font-size: 2.5rem;
        }
      }
    }
  }
}